ExpenseTracker/ExpenseTracker/Service References/StatisticsAnalyticsServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StatisticsAnalyticsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExpenseTrackerService.StatisticsAnalyticsModule" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatisticsAnalyticsService_GetAnalyticsData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticsData" />
  </wsdl:message>
  <wsdl:message name="IStatisticsAnalyticsService_GetAnalyticsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticsDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStatisticsAnalyticsService_GetExpensesFromDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpensesFromDataBase" />
  </wsdl:message>
  <wsdl:message name="IStatisticsAnalyticsService_GetExpensesFromDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpensesFromDataBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatisticsAnalyticsService">
    <wsdl:operation name="GetAnalyticsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsAnalyticsService/GetAnalyticsData" message="tns:IStatisticsAnalyticsService_GetAnalyticsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsAnalyticsService/GetAnalyticsDataResponse" message="tns:IStatisticsAnalyticsService_GetAnalyticsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpensesFromDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatisticsAnalyticsService/GetExpensesFromDataBase" message="tns:IStatisticsAnalyticsService_GetExpensesFromDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatisticsAnalyticsService/GetExpensesFromDataBaseResponse" message="tns:IStatisticsAnalyticsService_GetExpensesFromDataBase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatisticsAnalyticsService" type="tns:IStatisticsAnalyticsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAnalyticsData">
      <soap:operation soapAction="http://tempuri.org/IStatisticsAnalyticsService/GetAnalyticsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpensesFromDataBase">
      <soap:operation soapAction="http://tempuri.org/IStatisticsAnalyticsService/GetExpensesFromDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticsAnalyticsService">
    <wsdl:port name="BasicHttpBinding_IStatisticsAnalyticsService" binding="tns:BasicHttpBinding_IStatisticsAnalyticsService">
      <soap:address location="http://localhost:8733/StatisticsAnalyticsService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>