ExpenseTracker/ExpenseTracker/Service References/StatisticsAnalyticsServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ExpenseTrackerService.StatisticsAnalyticsModule" />
  <xs:element name="GetAnalyticsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoggedUserId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalyticsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpenseTrackerService.StatisticsAnalyticsModule" minOccurs="0" name="GetAnalyticsDataResult" nillable="true" type="q1:ArrayOfAnalyticsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpensesFromDataBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoggedUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpensesFromDataBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpenseTrackerService.StatisticsAnalyticsModule" minOccurs="0" name="GetExpensesFromDataBaseResult" nillable="true" type="q2:ArrayOfStatisticsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>