ExpenseTracker/ExpenseTracker/Service References/ExpenseServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExpenseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExpenseTrackerService.ExpenseModule" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExpenseCommon" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExpenseService_EnterExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterExpense" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_EnterExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnterExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetSelectedItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedItem" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetSelectedItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IExpenseService">
    <wsdl:operation name="EnterExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/EnterExpense" message="tns:IExpenseService_EnterExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/EnterExpenseResponse" message="tns:IExpenseService_EnterExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetCategories" message="tns:IExpenseService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetCategoriesResponse" message="tns:IExpenseService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetItems" message="tns:IExpenseService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetItemsResponse" message="tns:IExpenseService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetSelectedItem" message="tns:IExpenseService_GetSelectedItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetSelectedItemResponse" message="tns:IExpenseService_GetSelectedItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExpenseService" type="tns:IExpenseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnterExpense">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/EnterExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedItem">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetSelectedItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpenseService">
    <wsdl:port name="BasicHttpBinding_IExpenseService" binding="tns:BasicHttpBinding_IExpenseService">
      <soap:address location="http://localhost:8733/ExpenseService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>