ExpenseTracker/ExpenseTracker/Service References/CategoriesManagerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoriesManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ExpenseCommon" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoriesManagerService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoriesManagerService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriesManagerService_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoriesManagerService_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriesManagerService_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoriesManagerService_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoriesManagerService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ICategoriesManagerService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoriesManagerService">
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriesManagerService/AddCategory" message="tns:ICategoriesManagerService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriesManagerService/AddCategoryResponse" message="tns:ICategoriesManagerService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriesManagerService/UpdateCategory" message="tns:ICategoriesManagerService_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriesManagerService/UpdateCategoryResponse" message="tns:ICategoriesManagerService_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriesManagerService/RemoveCategory" message="tns:ICategoriesManagerService_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriesManagerService/RemoveCategoryResponse" message="tns:ICategoriesManagerService_RemoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoriesManagerService/GetCategories" message="tns:ICategoriesManagerService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoriesManagerService/GetCategoriesResponse" message="tns:ICategoriesManagerService_GetCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoriesManagerService" type="tns:ICategoriesManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoriesManagerService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoriesManagerService/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoriesManagerService/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ICategoriesManagerService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoriesManagerService">
    <wsdl:port name="BasicHttpBinding_ICategoriesManagerService" binding="tns:BasicHttpBinding_ICategoriesManagerService">
      <soap:address location="http://localhost:8733/CategoriesManagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>